<div class="hero-unit">
  <h2>Welcome <%= User.current.full_name %></h2>
  <p>This is the admin page for NaMa where changes to users, groups, events or ratings can be made.</p>
</div>
<div class="row">
  <div class="span-one-third appRect">
    <%= link_to image_tag("user.png"), users_path %>
    <h4>Users</h4>
  </div>
  <div class="span-one-third appRect">
    <%= link_to image_tag("group.png"), groups_path %>
    <h4>Groups</h4>
  </div>
  <div class="span-one-third appRect">
    <%= link_to image_tag("event.png"), events_path %>
    <h4>Events</h4>
  </div>
  <div class="span-one-third appRect">
    <%= link_to image_tag("rating.png"), ratings_path %>
    <h4>Ratings</h4>
  </div>
</div>
<br>

<h4>
  <%= image_tag "info_small.png" %>
  General Information
</h4>
<div class="resource">
  <table class="table">
    <thead>
      <tr>
        <th># Members</th>
        <th># Groups</th>
        <th># Males</th>
        <th># Females</th>
        <th># Upcoming Events</th>
        <th># Past Events</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @num_members %></td>
        <td><%= @num_groups %></td>
        <td><%= @num_males %></td>
        <td><%= @num_females %></td>
        <td><%= @num_upcoming_events %></td>
        <td><%= @num_past_events %></td>
      </tr>
    </tbody>
  </table>
</div>
