<div class="container">
  <div class="form-signinup">
    <h2 class="form-signinup-heading">Sign up</h2>
    <%= form_tag create_activation_path do %>
      <%= text_field_tag :email, nil, :class => 'input-block-level', :placeholder => 'Email' %>
      <%= password_field_tag :password, nil, :class => 'input-block-level', :placeholder => 'Password' %>
      <%= password_field_tag :password_confirmation, nil,
            :class => 'input-block-level', :placeholder => 'Password Confirmation' %>
      <%= submit_tag "Sign up", :class => 'btn btn-large btn-primary' %>
    <% end %>
  </div>
</div>
