<h3>Group <%= @group.name %></h3>
<div class="resource">
  <div class="row">
    <div class="span12" id="member-div">
      <%= render :partial => 'members' %>
    </div>
  </div>
  <%= link_to ll('.back'), groups_path, :class => 'btn btn-small' %>
  <%= link_to ll('.edit'), edit_group_path(@group), :class => 'btn btn-small' %>
  <%= link_to ll('.destroy'), group_path(@group), :method => 'delete',
        :data => { :confirm => ll('.confirm'), :default => 'Are you sure?' },
        :class => 'btn btn-danger btn-small' %>
</div>
