<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :street, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :street, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :postal_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :postal_code, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone_landline, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone_landline, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone_mobile, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone_mobile, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date_of_birth, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date_of_birth, 'data-behaviour' => 'datepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          users_path, :class => 'btn' %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {

    $('form.form-horizontal').validate(
    {
      rules: {
        'user[last_name]': {
          minlength: 2,
          maxlength: 40,
          required: true
        },
        'user[first_name]': {
          minlength: 2,
          maxlength: 40,
          required: true
        },
        'user[street]': {
          minlength: 2,
          maxlength: 40,
          required: true
        },
        'user[city]': {
          minlength: 2,
          maxlength: 40,
          required: true
        },
        'user[postal_code]': {
          minlength: 4,
		  maxlength: 10,
          required: true
        },
        'user[date_of_birth]': {
          required: true
        },
        'user[email]': {
          email: true,
          required: true
        },
      },

      highlight: function(label) {
        $(label).closest('.control-group').addClass('error').removeClass('success');
      },

      success: function(label) {
        label
          .text('OK!').addClass('valid')
          .closest('.control-group').addClass('success').removeClass('error');
      }
    });
  });

  $(document).on("focus", "[data-behaviour~='datepicker']", function(e) {
    $(this).datepicker(
    {
	  "startView": "decade",
      "format": "dd.mm.yyyy",
      "weekStart": 1,
      "autoclose": true
    });
  });
</script>
