<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <table class="table">
    <tbody>
      <tr>
        <td style="width: 20%;">
          <%= f.label ll('.label_user_gender'), :class => 'control-label' %>
        </td>
        <td>
          <%= f.select :gender, [['Male', 0], ['Female', 1]], :include_blank => '' %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">
          <%= f.label ll('.label_user_last_name'), :class => 'control-label' %>
        </td>
        <td>
          <%= f.text_field :last_name, :class => 'text_field' %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">
          <%= f.label ll('.label_user_first_name'), :class => 'control-label' %>
        </td>
        <td>
          <%= f.text_field :first_name, :class => 'text_field' %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">
          <%= f.label ll('.label_user_street'), :class => 'control-label' %>
        </td>
        <td>
          <%= f.text_field :street, :class => 'text_field' %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">
          <%= f.label ll('.label_user_postal_code'), :class => 'control-label' %>
        </td>
        <td>
          <%= f.number_field :postal_code, :class => 'number_field' %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">
          <%= f.label ll('.label_user_city'), :class => 'control-label' %>
        </td>
        <td>
          <%= f.text_field :city, :class => 'text_field' %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">
          <%= f.label ll('.label_user_phone_landline'), :class => 'control-label' %>
        </td>
        <td>
          <%= f.text_field :phone_landline, :class => 'text_field' %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">
          <%= f.label ll('.label_user_phone_mobile'), :class => 'control-label' %>
        </td>
        <td>
          <%= f.text_field :phone_mobile, :class => 'text_field' %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">
          <%= f.label ll('.label_user_date_of_birth'), :class => 'control-label' %>
        </td>
        <td>
          <div class="input-append date" id="dpbirth">
            <%= f.text_field :date, :value => f.object.date_of_birth, :readonly => 'readonly',
                :class => 'datepicker-custom' %>
            <span class="add-on">
              <i class="icon-th"></i>
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">
          <%= f.label ll('.label_user_email'), :class => 'control-label' %>
        </td>
        <td>
          <%= f.text_field :email, :class => 'text_field' %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">
          <%= f.label ll('.label_user_role'), :class => 'control-label' %>
        </td>
        <td>
          <%= f.select :role, [['User', 0], ['Admin', 1], ['Organizer', 2]], :include_blank => '' %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">
          <%= f.label ll('.label_user_locked'), :class => 'control-label' %>
        </td>
        <td>
          <%= f.check_box :locked %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">&nbsp;</td>
        <td>
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to ll('.label_cancel'), users_path, :class => 'btn' %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {

    $('form.form-horizontal').validate(
    {
      rules: {
        'user[gender]': {
          required: true
        },
        'user[last_name]': {
          minlength: 2,
          maxlength: 40,
          required: true
        },
        'user[first_name]': {
          minlength: 2,
          maxlength: 40,
          required: true
        },
        'user[street]': {
          minlength: 2,
          maxlength: 40,
          required: true
        },
        'user[city]': {
          minlength: 2,
          maxlength: 40,
          required: true
        },
        'user[postal_code]': {
          minlength: 4,
		  maxlength: 10,
          required: true
        },
        'user[email]': {
          email: true,
          required: true
        },
        'user[role]': {
          required: true
        },
      },

      highlight: function(label) {
        $(label).closest('.control-group').addClass('error').removeClass('success');
      },

      success: function(label) {
        label
          .text('OK!').addClass('valid')
          .closest('.control-group').addClass('success').removeClass('error');
      }
    });

    $("#dpbirth").datepicker( {
      "format": "dd.mm.yyyy",
	  "startView": "decade",
      "weekStart": 1,
      "autoclose": true
    });
  });
</script>
