<h3><%= ll('.label_user_manage') %></h3>
<div class="resource">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= ll('.label_user_last_name') %></th>
        <th><%= ll('.label_user_first_name') %></th>
        <th><%= ll('.label_user_street') %></th>
        <th><%= ll('.label_user_postal_code') %></th>
        <th><%= ll('.label_user_city') %></th>
        <th><%= ll('.label_user_date_of_birth') %></th>
        <th><%= ll('.label_user_email') %></th>
        <th><%= ll('.label_user_active') %>?</th>
        <th><%= ll('.label_user_locked') %>?</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.last_name, user_path(user) %></td>
          <td><%= user.first_name %></td>
          <td><%= user.street %></td>
          <td><%= user.postal_code %></td>
          <td><%= user.city %></td>
          <td><%= user.date_of_birth %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.active %>
              <i class="icon-ok"></i>
            <% else %>
              <i class="icon-remove"></i>
            <% end %>
          </td>
          <td>
            <% if user.locked %>
              <i class="icon-ok"></i>
            <% else %>
              <i class="icon-remove"></i>
            <% end %>
          </td>
          <td style="text-align: right;">
            <%= link_to ll('.label_edit'), edit_user_path(user), :class => 'btn btn-mini' %>
            <%= link_to ll('.label_view'), user_path(user), :class => 'btn btn-mini' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div style="height:40px;">
    <div style="float:left; padding-top:5px;">
      <%= link_to ll('.label_new'), new_user_path, :class => 'btn btn-primary' %>
    </div>
    <%= will_paginate %>
  </div>
</div>
