<h3>User Information</h3>
<div class="resource">
  <table class="table table-hover">
    <tbody>
      <tr>
        <td style="width: 20%"><strong>Last Name:</strong></td>
        <td style="width: 80%"><%= @user.last_name %></td>
      </tr>
      <tr>
        <td style="width: 20%"><strong>First Name:</strong></td>
        <td style="width: 80%"><%= @user.first_name %></td>
      </tr>
      <tr>
        <td style="width: 20%"><strong>Street:</strong></td>
        <td style="width: 80%"><%= @user.street %></td>
      </tr>
      <tr>
        <td style="width: 20%"><strong>Postal Code:</strong></td>
        <td style="width: 80%"><%= @user.postal_code %></td>
      </tr>
      <tr>
        <td style="width: 20%"><strong>City:</strong></td>
        <td style="width: 80%"><%= @user.city %></td>
      </tr>
      <tr>
        <td style="width: 20%"><strong>Phone Landline:</strong></td>
        <td style="width: 80%"><%= @user.phone_landline %></td>
      </tr>
      <tr>
        <td style="width: 20%"><strong>Phone Mobile:</strong></td>
        <td style="width: 80%"><%= @user.phone_mobile %></td>
      </tr>
      <tr>
        <td style="width: 20%"><strong>Date Of Birth:</strong></td>
        <td style="width: 80%"><%= @user.date_of_birth %></td>
      </tr>
      <tr>
        <td style="width: 20%"><strong>Email:</strong></td>
        <td style="width: 80%"><%= @user.email %></td>
      </tr>
      <% if User.current.is_organizer? %>
        <tr>
          <td style="width: 20%"><strong>Role:</strong></td>
          <td style="width: 80%"><%= @user.role_name %></td>
        </tr>
        <tr>
          <td style="width: 20%"><strong>Active?</strong></td>
          <td style="width: 80%">
          <% if @user.active %>
            <i class="icon-ok"></i>
          <% else %>
            <i class="icon-remove"></i>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if User.current.is_organizer? %>
    <%= link_to ll('.back'), users_path, :class => 'btn btn-small' %>
    <%= link_to ll('.edit'), edit_user_path(@user), :class => 'btn btn-small' %>
    <%= link_to ll('.destroy'), user_path(@user), :method => 'delete',
          :data => { :confirm => ll('.confirm'), :default => 'Are you sure?' },
          :class => 'btn btn-danger btn-small' %>
  <% end %>
</div>
