<%= form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <table class="table">
    <tbody>
      <tr>
        <td style="width: 20%;">
          <%= f.label ll('.label_name'), :class => 'control-label' %>
        </td>
        <td>
          <%= f.text_field :name, :class => 'text_field' %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">
          <%= f.label ll('.label_description'), :class => 'control-label' %>
        </td>
        <td>
          <%= f.text_area :description, :cols => 30, :rows => 4,
              :style => 'resize: none', :class => 'text_area' %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">
          <%= f.label ll('.label_owner'), :class => 'control-label' %>
        </td>
        <td>
	        <%= f.collection_select(:user_id, User.where('role != 0 AND email != \'nama\''),
                :id, :last_name, :include_blank => '') %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">
          <%= f.label ll('.label_date'), :class => 'control-label' %>
        </td>
        <td>
          <%= f.text_field :date, :value => f.object.date, 'data-behaviour' => 'datepicker' %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">&nbsp;</td>
        <td>
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to ll('.label_cancel'), events_path, :class => 'btn' %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {

    $('form.form-horizontal').validate(
    {
      rules: {
        'event[name]': {
          minlength: 2,
          maxlength: 100,
          required: true
        },
        'event[user_id]': {
          required: true
        },
        'event[date]': {
          required: true
        },
      },

      highlight: function(label) {
        $(label).closest('.control-group').addClass('error').removeClass('success');
      },

      success: function(label) {
        label
          .text('OK!').addClass('valid')
          .closest('.control-group').addClass('success').removeClass('error');
      }
    });
  });

  $(document).on("focus", "[data-behaviour~='datepicker']", function(e) {
    $(this).datepicker(
    {
      "format": "dd.mm.yyyy",
      "weekStart": 1,
      "autoclose": true
    });
  });
</script>
