<h4>Upcoming Events</h4>
<div class="resource">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Owner</th>
        <th>Date</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @events_upcoming.each do |event| %>
        <tr>
          <td><%= link_to event.name, event_path(event) %></td>
          <td>
            <%= event.description.gsub(/\n/, '<br>').html_safe %>
          </td>
          <td><%= event.user.full_name %></td>
          <td><%= event.date %></td>
          <td style="text-align: right;">
          <% if User.current.is_organizer? %>
            <%= link_to ll('.edit'), edit_event_path(event), :class => 'btn btn-mini' %>
          <% end %>
          <%= link_to ll('.view'), event_path(event), :class => 'btn btn-mini' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if User.current.is_organizer? %>
    <%= link_to ll('.new'), new_event_path, :class => 'btn btn-primary' %>
  <% end %>
</div>
<br>
<h4>Past Events</h4>
<div class="resource">
  <% if @events_past.none? %>
    <table class="table no-content">
      <tbody>
        <tr>
          <td>
            <em>There are no past events so far...</em>
          </td>
        </tr>
      </tbody>
    </table>
  <% else %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Owner</th>
          <th>Date</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @events_past.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td>
              <%= event.description.gsub(/\n/, '<br>').html_safe %>
            </td>
            <td><%= event.user.full_name %></td>
            <td><%= event.date %></td>
            <td style="text-align: right;">
            <% if User.current.is_organizer? %>
              <%= link_to ll('.rate_event'), show_event_rating_path(event.id), :class => 'btn btn-mini' %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
