<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <h2><%= @event.name %>, <%= @event.date %></h2>
      <ul>
        <% if !@event.description.empty? %>
        <li><%= @event.description %></li>
        <% end %>
        <li><%= @event.user.last_name %></li>
      </ul>
    </div>
    <div class="span4" id="timeslot-div">
      <%= render :partial => "timeslots/index", :locals => { :timeslots => @event.timeslots } %>
    </div>
    <div class="span4">
      <%= render :partial => "timeslots/new" %>
    </div>
  </div>
</div>

<div class="form-actions">
  <%= link_to ll('.back'), events_path, :class => 'btn'  %>
  <%= link_to ll('.edit'), edit_event_path(@event), :class => 'btn' %>
  <%= link_to ll('.destroy'), event_path(@event), :method => 'delete',
        :data => { :confirm => ll('.confirm'), :default => 'Are you sure?' },
        :class => 'btn btn-danger' %>
</div>
