<div class="span6">
<table class="table table-striped span12">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% timeslots.each do |timeslot| %>
      <tr>
        <td><%= timeslot.from %></td>
        <td><%= timeslot.to %></td>
        <td>
        <% if User.current.is_organizer? %>
          <%= link_to ll('.remove'), event_timeslot_path(@event, timeslot),
                :remote => true, :method => :delete,
                :class => 'btn btn-mini btn-danger' %>
          <%= link_to ll('.duplicate'), timeslot_duplicate_path(@event, timeslot),
                :remote => true, :method => :post,
                :class => 'btn btn-mini' %>
        <% end %>
        <% if timeslot.can_enroll? %>
          <%= link_to ll('.enroll'), timeslot_enroll_path(@event, timeslot),
                :remote => true, :method => :post,
                :data => { :confirm => ll('.confirm_timeslot'), :default => 'Are you sure?' },
                :class => 'btn btn-mini' %>
        <% elsif timeslot.user %>
          <%= timeslot.user.full_name %>
        <% else %>
          Cannot enroll
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
