<table class="table timeslots">
  <thead>
    <tr>
      <th><%= ll('.label_timeslot_start') %></th>
      <th><%= ll('.label_timeslot_finish') %></th>
      <th>&nbsp;</th>
      <th><%= ll('.label_timeslot_user_enrolled') %></th>
    </tr>
  </thead>
  <tbody>
    <% timeslots.each do |timeslot| %>
      <tr>
        <td><%= timeslot.start %></td>
        <td><%= timeslot.finish %></td>
        <td>
          <% if User.current.is_organizer? %>
            <%= link_to ll('.label_remove'), event_timeslot_path(@event, timeslot),
                  :remote => true, :method => :delete,
                  :class => 'btn btn-mini btn-danger' %>
            <%= link_to ll('.label_duplicate'), timeslot_duplicate_path(@event, timeslot),
                  :remote => true, :method => :post,
                  :class => 'btn btn-mini' %>
          <% end %>
        </td>
        <td>
          <% if timeslot.can_enroll? %>
            <%= link_to ll('.label_enroll'), timeslot_enroll_path(@event, timeslot),
                  :remote => true, :method => :post,
                  :data => { :confirm => ll('.message_confirm_timeslot'), :default => 'Are you sure?' },
                  :class => 'btn btn-mini btn-success' %>
          <% elsif timeslot.user %>
            <%= timeslot.user.full_name %>
          <% else %>
            <span class="add-on">
              <i class="icon-ban-circle"> <%= ll('.text_timeslot_not_enroll') %></i>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
