<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => Timeslot.model_name.human,
      :default => "New #{Timeslot.model_name.human}") %></h1>
</div>

<%= form_for [@event, Timeslot.new], :html => { :class => 'form-horizontal' }, :remote => true do |f| %>
  <div class="control-group">
    <%= f.label :from, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :from, :class => 'timepicker-default input-small' %>
      <span class="add-on">
        <i class="icon-time"></i>
      </span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :to, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :to, :class => 'timepicker-default input-small' %>
      <span class="add-on">
        <i class="icon-time"></i>
      </span>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary', :remote => true %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {

    $('.timepicker-default').timepicker(
      {
        showMeridian: false
      }
    );
  });
</script>
