<h5><%= ll('.label_timeslot_new') %></h5>
<%= form_for [@event, Timeslot.new], :html => { :class => 'form-horizontal' }, :remote => true do |f| %>
  <div style="float:left;">
    <%= f.label ll('.label_timeslot_start') %>
    <%= f.text_field :start, :class => 'timepicker-default input-mini' %>
      <span class="add-on" style="margin-left: 2px; margin-right: 5px;">
        <i class="icon-time"></i>
      </span>
  </div>
  <div style="float:left;">
    <%= f.label ll('.label_timeslot_finish') %>
    <%= f.text_field :finish, :class => 'timepicker-default input-mini' %>
      <span class="add-on" style="margin-left: 2px; margin-right: 2px;">
        <i class="icon-time"></i>
      </span>
    <%= f.submit ll('.label_create'), :class => 'btn btn-primary btn-small', :remote => true %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {

    $('.timepicker-default').timepicker(
      {
        showMeridian: false,
        defaultTime: 'current'
      }
    );
  });
</script>
