<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <% if User.signed_in? %>
        <% if User.current.is_admin? %>
          <%= link_to "NaMa", home_admin_path, class: "brand" %>
        <% else %>
          <%= link_to "NaMa", home_user_path, class: "brand" %>
        <% end %>
      <% else %>
        <%= link_to "NaMa", root_path, class: "brand" %>
      <% end %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to ll('.label_help'), help_path %></li>
        <% if User.signed_in? %>
          <% if User.current.is_admin? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                Manage
                <b class="caret"></b>
              </a>
               <ul class="dropdown-menu">
                 <li><%= link_to ll('.label_users'), users_path %></li>
                 <li><%= link_to ll('.label_groups'), groups_path %></li>
          <% end %>
                 <li><%= link_to ll('.label_events'), events_path %></li>
                 <li><%= link_to ll('.label_ratings'), ratings_path %></li>
               </ul>
            </li>
        </ul>
        <ul class="nav pull-right">
          <li><%= link_to User.current.email, User.current %>
          <li><%= link_to ll('.label_signout'), signout_path, method: 'delete' %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
